VERY_CLIENT_ID=
VERY_CLIENT_SECRET=
VERY_REDIRECT_URI=com.veryai.zeko.demo://oauth/callback

VERY_ISSUER_PRIVATE_KEY=
ZEKO_DEPLOYER_PRIVATE_KEY=
ZEKO_ZKAPP_PRIVATE_KEY=
ZEKO_GRAPHQL_URL=https://testnet.zeko.io/graphql
ZEKO_ARCHIVE_URL=https://archive.testnet.zeko.io/graphql
ZEKO_ZKAPP_ADDRESS=

MISSION_AUTH_BASE_URL=http://127.0.0.1:8787
MISSION_AUTH_BEARER_TOKEN=
