VERY_CLIENT_ID=
VERY_CLIENT_SECRET=
VERY_REDIRECT_URI=com.veryai.zeko.demo://oauth/callback

VERY_ISSUER_PRIVATE_KEY=
ZEKO_DEPLOYER_PRIVATE_KEY=
ZEKO_ZKAPP_PRIVATE_KEY=
ZEKO_GRAPHQL_URL=https://sepolia.zeko.io/graphql
ZEKO_ARCHIVE_URL=
ZEKO_NETWORK_ID=testnet
ZEKO_TX_FEE=200000
ZEKO_ZKAPP_ADDRESS=

MISSION_AUTH_BASE_URL=http://127.0.0.1:8787
MISSION_AUTH_BEARER_TOKEN=
